/*---main---*/
#main{
	width:1000px;;
	min-width:1000px;
	margin:15px auto;
}
#userPanel{
	float:left;
	width:780px;
}
#main_right{
	float:right;
	width:200px;
}
.module_title{
	background-color:#FFF;
  	height:35px;
  	color:#000;
  	line-height:38px;
  	border-bottom:2px solid orange;
  	padding-left:13px;
}
.module_title h2{
	height:33px;
	overflow:hidden;
	font-size:17px;
	float:left;
}
.module_title span{
	display:block;
	float:left;
	width:63px;
	text-align:center;
	height:30px;
	line-height:30px;
	overflow:hidden;
	cursor:pointer;
	padding:0;
}
.tag_state{
	position:relative;
	top:0;
	font-size:13px;
	font-weight:normal;	
	border:2px solid #FFF;
	padding:4px 4px;
}
.module_content{ clear:both; background-color:#FFF; text-align:center; padding:3px 5px; overflow:hidden; }

.userIcon{ background-color:#F4F4F4; width:200px; height:200px; overflow:hidden; position:relative; }
.userIcon_pic{ position:absolute; top:20px; left:20px; border:none; width:160px; height:160px; }
.userIcon_pic img{ border:none; width:160px; height:160px; }
.userIcon_update{ position:absolute; left:0px; top:160px; width:160px; height:30px; background-color:#000; opacity:0.7; filter: alpha(opacity=70); z-index:4; }
.userIcon p{ position:absolute; left:50px; top:160px; height:30px; width:55px; line-height:30px; color:#999; z-index:5; }
.userIcon p.focus{ color:#FFF; cursor:pointer; text-decoration:underline; }
.userIcon span{ display:block; position:absolute; top:160px; width:200px; height:20px; z-index:6; background-color:#F4F4F4; left: -20px; }
.userInfo{ width:180px; padding:10px; background-color:#FFF; }
.userInfo li { display:block; width:180px; border-bottom:1px dashed #666; padding:5px 0; }
.userInfo li .moodImg{ cursor:pointer; position:relative; left:35px; top:3px; width:22px; height:22px; }

/**********************/
#signature{
	color:#EC661E;
	cursor:pointer;
}
.quickPanel{
	margin-top:10px;
	width:200px;
}
.quickPanel .module_content span{
	display:block;
	float:left;
	width:95px;
	height:30px;
	line-height:30px;
	overflow:hidden;
	text-align:center;
}
.advice{
	margin-top:10px;
}
/*************************************/
.userPanel_1{
	margin-bottom:10px;
}
#userPanel a:hover{
	color:orange;
	text-decoration:underline;
}
#userPanel .module_content{
	padding-top:0;
	height:170px;
}
.userPanel_1 .module_content li.item{
	height:27px;
	line-height:27px;
	border-bottom:1px solid #F4F4F4;
}
.userPanel_1 .module_content li span{
	display:block;
	float:left;
	color:#000;
	text-decoration:none;
	text-align:center;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
}
.userPanel_1 .module_content li span.item_title{
	text-align:left;
}
.userPanel_1 .module_content li span.item_title:hover{
	cursor:pointer;
	color:orange;
	text-decoration:underline;
}
.userPanel_1 .module_content li span.item_time{	
	width:115px;
}
.userPanel_1 .module_content li span.item_head_edit{	
	width:32px;
}
.userPanel_1 .module_content li span.item_edit{
	width:32px;
}
.userPanel_1 .module_content li span.item_edit:hover{	
	cursor:pointer;
	color:orange;
	text-decoration:underline;
}
.userPanel_1 .module_content li span.item_other{	
	width:65px;
}


